.circle {
    /* display: flex;
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    border-radius: 50%; */
    background: lightgrey;
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
}
  